<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net48" />
  <package id="Castle.Core" version="4.4.1" targetFramework="net48" />
  <package id="CommonServiceLocation" version="1.0.0" targetFramework="net48" />
  <package id="CompositeC1.Core" version="6.11" targetFramework="net48" />
  <package id="MediatR" version="9.0.0" targetFramework="net48" />
  <package id="MediatR.Extensions.Microsoft.DependencyInjection" version="9.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.8" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.2.8" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.8" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.8" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.8" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Versioning" version="4.1.1" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Versioning.ApiExplorer" version="4.1.1" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.8" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.8" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="3.6.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Data.Sqlite" version="6.0.4" targetFramework="net48" />
  <package id="Microsoft.Data.Sqlite.Core" version="6.0.4" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="2.0.7" targetFramework="net48" />
  <package id="SQLitePCLRaw.core" version="2.0.7" targetFramework="net48" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.0.7" targetFramework="net48" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="2.0.7" targetFramework="net48" />
  <package id="SQLitePCLRaw.provider.e_sqlite3" version="2.0.7" targetFramework="net48" />
  <package id="Swashbuckle" version="5.6.0" targetFramework="net48" />
  <package id="Swashbuckle.Core" version="5.6.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="6.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net48" />
  <package id="System.Reactive.Core" version="5.0.0" targetFramework="net48" />
  <package id="System.Reactive.Interfaces" version="5.0.0" targetFramework="net48" />
  <package id="System.Reactive.Linq" version="5.0.0" targetFramework="net48" />
  <package id="System.Reactive.PlatformServices" version="5.0.0" targetFramework="net48" />
  <package id="System.Reactive.Windows.Threading" version="5.0.0" targetFramework="net48" />
  <package id="System.Reflection.DispatchProxy" version="4.7.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Dataflow" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="WampSharp" version="20.1.1" targetFramework="net48" />
  <package id="WampSharp.AspNet.WebSockets.Server" version="20.1.1" targetFramework="net48" />
  <package id="WampSharp.NewtonsoftJson" version="20.1.1" targetFramework="net48" />
  <package id="WampSharp.WebSockets" version="20.1.1" targetFramework="net48" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net48" />
</packages>